* {
	margin: 0;
}

html, body {
	height: 100%;
	background-image: url(../img/papel-textura.png);
	background-size: cover;
	background-position: center center;
}

body {
	padding-top: 20%;
	padding-bottom: 20%;
}

form {
	margin-bottom: 30px;
}

h1, p {
	margin: 0;
}

h1 {
	font-weight: 400;
	font-family: 'Great Vibes', Helvetica, sans-serif;
	font-size: calc(65px + (120 - 65) * ((100vw - 320px) / (1024 - 320)));
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	text-align: center;
}

label {
	font-weight: 300;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(15px + (35 - 15) * ((100vw - 320px) / (1024 - 320)));
}

input[type=text] {
	height: calc((15px + (35 - 15) * ((100vw - 320px) / (1024 - 320))) + 20px);
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(15px + (35 - 15) * ((100vw - 320px) / (1024 - 320)));
}

input[type=email] {
	height: calc((15px + (35 - 15) * ((100vw - 320px) / (1024 - 320))) + 20px);
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(15px + (35 - 15) * ((100vw - 320px) / (1024 - 320)));
}

button {
	font-weight: 300;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(15px + (35 - 15) * ((100vw - 320px) / (1024 - 320))) !important;
}

div.form-group p {
	font-weight: 200;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1024 - 320)));
	color: darkred;
}

img {
	height: calc(15px + (35 - 15) * ((100vw - 320px) / (1024 - 320)));
}

.rwd-break-reverse {
	display: none;
}

#sucessoEnvio {
	font-weight: 200;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1024 - 320)));
	color: darkgreen;
	margin-top: 10px;
}

#falhaEnvio {
	font-weight: 200;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1024 - 320)));
	color: darkred;
	margin-top: 10px;
}

@media (min-width: 1200px) {
	body {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	h1 {
		font-size: 120px;
	}

	label, input {
		font-size: 35px;
	}

	div.form-group p {
		font-size: 30px;
	}

	img {
		height: 35px;
	}

	input[type=text] {
		height: 65px;
		font-size: 35px;
	}

	input[type=email] {
		height: 65px;
		font-size: 35px;
	}

	button {
		font-size: 35px !important;
	}

	.rwd-break {
		display: none;
	}

	#sucessoEnvio {
		font-size: 30px;
	}

	#falhaEnvio {
		font-size: 30px;
	}	
}

