* {
	margin: 0;
}

html, body {
	height: 100%;
	background-image: url(../img/papel-textura.png);
	background-size: cover;
	background-position: center center;
}

h1, h2, h3, p {
	text-align: center;
	margin: 0;
}

h1 {
	font-weight: 400;
	font-family: 'Great Vibes', Helvetica, sans-serif;
	font-size: calc(65px + (160 - 65) * ((100vw - 320px) / (1024 - 320)));
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

h2 {
	font-weight: 400;
	font-family: 'Cookie', Helvetica, sans-serif;
	font-size: calc(28px + (53 - 28) * ((100vw - 320px) / (1024 - 320)));
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
	margin-top: 20px;
}

h3 {
	font-weight: 500;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1024 - 320)));
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

p {
	font-weight: 300;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: calc(17px + (30 - 17) * ((100vw - 320px) / (1024 - 320)));
}

body {
	padding-top: 20%;
	padding-bottom: 20%;
}

a {
	cursor: pointer;
	font-size: calc(13px + (26 - 13) * ((100vw - 320px) / (1024 - 320))) !important;
}

div.fluid-container {
	margin-bottom: 30px;
}

#data {
	font-weight: 700;
	font-style: oblique;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.rwd-break-reverse {
	display: none;
}

@media (min-width: 1024px) {
	body {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	h1 {
		font-size: 160px;
	}

	h2 {
		font-size: 53px;
	}

	h3 {
		font-size: 55px;
	}

	p {
		font-size: 30px;
	}

	a {
		font-size: 26px !important;
	}

	div.fluid-container {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.rwd-break-reverse {
		display: inline;
	}

	.rwd-break {
		display: none;
	}
}

